@model ProdutoViewModel

<h3>Deletar Produto</h3>

<div>
    
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>

        <div class="row">
            <div class="col-md-6 form-group" style="padding-top:10px;">
                @if (string.IsNullOrEmpty(Model.ImagemUrl))
                {
                    <img src="~/imagens/noimage1.png" />
                }
                else
                {
                    <img src="@Model.ImagemUrl" />
                }
            </div>
        </div>

    </dl>

    <form asp-action="DeletarProduto" style="padding-top:10px">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Retornar</a>
    </form>

</div>