@model IEnumerable<CategoriaViewModel>

<h2>Categorias</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="CriarNovaCategoria" class="btn btn-primary">
                    <span title="Criar Categoria" class="fas fa-plus"></span> Nova Categoria
                </a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagemUrl)
                    </td>
                    <td>
                        <a asp-action="AtualizarCategoria" asp-route-id="@item.CategoriaId" title="Editar" class="btn btn-warning">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a asp-action="DeletarCategoria" asp-route-id="@item.CategoriaId" title="Deletar" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>